/* <![CDATA[ */

html { font-family:Arial, sans-serif; background:white; color:#ddd; }
html, body { margin:0; padding:0; }

#content { background:url('../img/tabbg.gif') repeat-x; padding:20px 0;  }
* html #content { position:relative; }

#trans-border { 
    height:400px;
    width:550px; 
    margin:20px auto; 
    padding:14px 20px; 
    color:#222; 
}
#trans-border .sb-border { 
    background:#528255; 
}

#trans-border .sb-inner { 
    background: #6b6d71;
    background-image:url('../img/2.jpg');
}

.wl {
    float: right;
}

.input {
    border: 1px solid #006;
    background: #ffc;
    margin:5px;
    width: 130px;
}
.input:hover {
    border: 1px solid #f00;
    background: #ff6;
}

.button {
    border: 1px solid #006;
    background: #ccf;
    margin:5px;
}
.button:hover {
    border: 1px solid #f00;
    background: #eef;
}

label {
    width: 120px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}

.spaced {
    padding: 15px;
    padding-left: 25px;
}

br { clear: left; }

.transbox {
  padding:10px;
  background-color:#ffffff;
  border:1px solid black;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
}

.link_space {

 border: 2px solid #a7b0a5;
 margin: 3px;
 padding: 3px;
 background: #b9d7b9;
}

.link_space:hover {
    border: 2px solid #000;
    background: #ff6;
}


/* ]]> */